@import '../src/css/themes.css';
@import '../src/css/main.css';
@import '../src/css/main.css.map';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;

  background-color: var(--white);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 10px 20px;
}

h1, h2, h3 {
  font-size: 1rem;
  color: var(--white);
}

.hidden {
  display: none;
}

/* .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
} */
